<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pytlist</title>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<div class="container mt-2 ">

    <h1>Pytlist - <i>{{ collection_slug }}</i></h1>
    <div class="row m-sm-0">
        <div class="col-4">
            <nav id="collections" class="list-group my-2" role="tablist">
                {% for collection in collections %}
                    {% include 'tasks/collection.html' with collection=collection %}
                {% endfor %}
            </nav>

            <form method="POST" class="d-flex gap-2">
                {% csrf_token %}
                <input class="form-control"
                       type="text"
                       name="collection-name"
                       placeholder="Collection...">
                <button id="add-collection"
                        class="btn btn-success"
                        hx-post="{% url 'add-collection' %}"
                        hx-target="#collections"
                        hx-swap="beforeend"
                        type="submit">Ajouter
                </button>
            </form>
        </div>


        <section class="col-8">
            <form method="POST" class="d-flex gap-2">
                {% csrf_token %}
                <input class="form-control" type="text" name="task-description" placeholder="Tâche...">
                <button class="btn btn-success"
                        hx-post="{% url 'add-task' %}"
                        hx-target="#tasks"
                        hx-vals="js:{collection: getCollectionFromUrl()}"
                        hx-swap="beforeend"
                        type="submit">
                    Ajouter
                </button>
            </form>

            <section id="tasks-container">
                {% include 'tasks/tasks.html'  with tasks=tasks collection=collection %}
            </section>
        </section>
    </div>
</div>
<script>
    let collectionName = document.querySelector("h1>i")
    let btn = document.querySelectorAll("#collections>button")
    {#let inputAddCollection = document.querySelector("input[name='collection-name']")#}
    {#let btnAddCollection = document.querySelector("#add-collection")#}

    document.body.addEventListener("htmx:responseError", function (evt) {
        alert(evt.detail.xhr.responseText);
    })

    function getCollectionFromUrl() {
        let url = new URL(window.location.href);
        let searchParams = url.searchParams;
        {#console.log(searchParams.get("collection"));#}
        return searchParams.get("collection");
    }

    btn.forEach(e => e.addEventListener('click', function () {
        collectionName.textContent = e.textContent;
    }))

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous">
</script>
</body>
</html>